# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask instance folder
# Ignore everything in instance except database files
instance/*
!instance/*.db

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log